<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <pluginGroups>
        <!-- Nothing is present now-->
    </pluginGroups>

    <proxies>
        <!-- Nothing is present now-->
    </proxies>

  <servers>
    <server>
      <username>admin</username>
      <password>admin1234</password>
      <id>artifactory</id>
    </server>
    <server>
      <username>admin</username>
      <password>admin1234</password>
    </server>
  </servers>
  <mirrors>
        <mirror>
            <id>artifactory</id>
            <url>http://www.testartifactory.com/artifactory/testmaven1/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
  </mirrors> 
  <profiles>
    <profile>
    <id>artifadeploymentRepoctory</id>
    <activation>
            <activeByDefault>true</activeByDefault>
    </activation>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>artifactory</id>
          <name>testmaven1</name>
          <url>http://www.testartifactory.com/artifactory/testmaven1/</url>
        </repository>
      </repositories>

    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
